@import b3.vertical.fieldConstructor
@(webJarAssets: WebJarAssets, adminKnolexForm: Form[KSession], listOfKnols: List[User], id: String)(implicit message: Messages, flash: Flash)

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#othersForm">Schedule Others Knolx</a></li>
        <li><a href="#ownForm">Schedule Own Knolx</a></li>
        <li><a href="#knolxDone">Knolx Done</a></li>
        <li><a href="#">Feedback knolx</a></li>
        <li><a href="#">Knolx Commitment</a></li>
    </ul>

    <div class="tab-content">
        <div class="row vertical-offset-50 tab-pane fade in active" id="othersForm">
            <div class="Absolute-Center is-Responsive">
                <div class="col-md-4 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Schedule Knolx
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row vertical-offset-100">
                                    <div class="col-md-12">
                                        @b3.form(action = routes.SessionsController.createSession) {
                                            @b3.select(adminKnolexForm("uid"), options = listOfKnols.toSeq.flatMap
                                                    (user => Seq(user.id.get.toString -> user.name)), '_label -> "Select user", '_default -> "Select User")
                                            @b3.text(adminKnolexForm("topic"), '_label -> "Knolx Topic")
                                            @b3.date(adminKnolexForm("date"), '_label -> "Select Date")
                                            @b3.select(adminKnolexForm("slot"), options = List(1, 2, 3, 4, 5).toSeq.flatMap(values => Seq(values.toString -> values.toString)), '_label -> "Select Slot")
                                            @b3.text(adminKnolexForm("status"), 'value -> true, 'style -> "display: none")
                                            @b3.submit('class -> "btn btn-primary btn-lg ", '_label -> "", 'id -> "submit") {submit}
                                        }
                                    <script src="https://code.jquery.com/jquery.js"></script>
                                    <link href="@routes.Assets.versioned("javascripts/bootstrap.min.js")" rel="stylesheet">
                                    <script src="@routes.Assets.versioned("javascripts/custom.js")"></script>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row vertical-offset-100 tab-pane fade in active" id="ownForm">
            <div class="Absolute-Center is-Responsive">
                <div class="col-md-4 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Schedule Knolx
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row vertical-offset-100">
                                    <div class="col-md-12">
                                        @b3.form(action = routes.SessionsController.createSession) {
                                            @b3.text(adminKnolexForm("uid"), '_label -> "User Id", 'value -> id, 'readonly -> true)
                                            @b3.text(adminKnolexForm("topic"), '_label -> "Knolx Topic")
                                            @b3.date(adminKnolexForm("date"), '_label -> "Select Date")
                                            @b3.select(adminKnolexForm("slot"), options = List(1, 2, 3, 4, 5).toSeq.flatMap(values => Seq(values.toString -> values.toString)), '_label -> "Select Slot")
                                            @b3.text(adminKnolexForm("status"), 'value -> true, 'style -> "display: none")
                                            @b3.submit('class -> "btn btn-primary btn-lg ", '_label -> "", 'id -> "submit") {submit}
                                        }
                                        <script src="https://code.jquery.com/jquery.js"></script>
                                        <link href="@routes.Assets.versioned("javascripts/bootstrap.min.js")" rel="stylesheet">
                                        <script src="@routes.Assets.versioned("javascripts/custom.js")"></script>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row vertical-offset-100 tab-pane fade in active" id="knolxDone">
            <div class="Absolute-Center is-Responsive">
                <div class="col-md-4 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Knolx Done
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row vertical-offset-100">
                                    <div class="col-md-12">
                                        @b3.form(action = routes.SessionsController.createSession) {
                                            @b3.text(adminKnolexForm("uid"), 'value -> id, 'readonly -> true, 'style -> "display: none")
                                            @b3.text(adminKnolexForm("topic"), 'style -> "display: none")
                                            @b3.date(adminKnolexForm("date"), '_label -> "Select Date", 'id -> "dates")
                                            @b3.select(adminKnolexForm("slot"), options = List(1, 2, 3, 4, 5).toSeq.flatMap(values => Seq(values.toString -> values.toString)), 'style -> "display: none")
                                            @b3.text(adminKnolexForm("status"), 'value -> true, 'style -> "display: none")
                                            @b3.button('class -> "btn btn-primary btn-lg", '_label -> "", 'id -> "getrec") {submit}
                                        }
                                        <script src="https://code.jquery.com/jquery.js"></script>
                                        <link href="@routes.Assets.versioned("javascripts/bootstrap.min.js")" rel="stylesheet">
                                        <script src="@routes.Assets.versioned("javascripts/custom.js")"></script>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="modal fade" id="knolxModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 style="color:darkgreen ;"><span class="glyphicon glyphicon-lock"></span>Edit knolx</h4>
                        </div>
                        <div class="modal-body">
                        @b3.form(action = routes.SessionsController.doneKnolx) {
                            @b3.text(adminKnolexForm("id"), '_label -> "User Id", 'value -> "1")
                            @b3.text(adminKnolexForm("topic"), '_label -> "Knolx Topic")
                            @b3.date(adminKnolexForm("date"), '_label -> "Select Date")
                            @b3.select(adminKnolexForm("slot"), options = List(1, 2, 3, 4, 5).toSeq.flatMap(values => Seq(values.toString -> values.toString)), '_label -> "Select Slot")
                            @b3.text(adminKnolexForm("status"), 'value -> false, 'style -> "display: none")
                            @b3.text(adminKnolexForm("uid"), 'value -> 1, 'style -> "display: none")
                            @b3.submit('class -> "btn btn-primary btn-lg ", '_label -> "", 'id -> "submit") {submit}
                        }
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
                                Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8" id="disp">
            <div class="panel panel-default">
                <div class="panel-heading">
                    knolx of Day
                </div>
                <div class="panel-body">
                    <table id="sessionsBydate" class="display table table-striped table-bordered table-hover table-responsive" >
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>User-Email</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
        $(document).ready(function(){
            $("#disp").hide();
            $(".nav-tabs a").click(function(){
                $(this).tab('show');
            });
            $('.nav-tabs a').on('shown.bs.tab', function(event){
                var x = $(event.target).text();         // active tab
                var y = $(event.relatedTarget).text();  // previous tab
            });

            $('#getrec').click(function(){
                $("#disp").show();
                var ajaxCallBack = {
                    success : function(data) {
                        drawTable(JSON.parse(data));
                    },
                    error : function(error) {
                        alert("Error");
                    }
                };

                function drawTable(data) {
                    $("#sessionsBydate").find("tr:not(:first)").remove();
                    for (var i = 0; i < data.length; i++) {
                        drawRow(data[i]);
                    }
                }

                function drawRow(rowData) {
                    var row = $("<tr />")
                    $("#sessionsBydate").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
                    row.append($("<td>" + rowData.id + "</td>"));
                    row.append($("<td> <button class='btn btn-link editButton' data-toggle='modal' data-target='#knolxModal' >"  + rowData.topic + "</button></td>"));
                    row.append($("<td>" + new Date(rowData.date).toDateString()  + "</td>"));
                    row.append($("<td>" + rowData.email + "</td>"));
                }
                var datea = Date.parse($('#dates').val());
                jsRoutes.controllers.SessionsController.renderKnolxByDate(datea).ajax(ajaxCallBack);
            });

        });
</script>


