@import b3.vertical.fieldConstructor
@import models._
@import controllers._
@(webJarAssets: WebJarAssets,loginForm:Form[Login])(implicit message:Messages,flash:Flash)
@main("knolx")(webJarAssets) {
    <nav class="navbar navbar-default" xmlns="http://www.w3.org/1999/html">
        <div class="container-fluid">

            <div class="navbar-header">
                <img style=" text-align:center;color:black!important; border:2px solid white"
                src="@routes.Assets.versioned("images/knolxlogo.png")"class="img-rounded" width="300" height="100">


            </div>

        </div>
    </nav>
    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center;color:red!important;">Please sign in</h3>
                    </div>
                    <div class="panel-body">

                            <fieldset>
                                <div class="form-group">
                                @b3.form(routes.HomeController.signin) {
                                    @b3.text(loginForm("emailId"), '_label -> "Enter Your Email", 'placeholder -> "abc@domain.com") <br/>
                                    @b3.password(loginForm("password"), '_label -> "Enter Your Password",
                                        'placeholder -> "enter password here")
                                    <p style="text-align:center;color:red!important;">@flash.get("ERROR")</p></br>
                                    @b3.submit('class -> "btn btn-primary btn-lg btn-block") {sign in}
                                }
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" style="text-align:center;color:red!important;" type="checkbox" value="Remember Me"> Remember Me
                                    </label>
                                    <br/>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <span class="pull-center"><a href="#">Register</a><br/><br/></span><span><a href="#"style="text-align:center;color:red!important;">Need help?</a></span>
                                    <br/>
                                </div>
                            </fieldset>

                    </div>
                </div>
            </div>


        </div>
    </div>
}

