@import b3.vertical.fieldConstructor
@import models._
@import controllers._
@(webJarAssets: WebJarAssets,signUpForm:Form[User])(implicit message:Messages,flash:Flash)
@main("knolx")(webJarAssets) {
<div class="container">
    <h2>register</h2>
    <form role="form">
        <div class="form-group">
            @b3.form(routes.HomeController.signUp) {
            @b3.email(signUpForm("emailId"), '_label -> "Enter Your Email", 'placeholder -> "abc@domain.com") <br/>
            @b3.password(signUpForm("password"), '_label -> "Enter Your Password",
            'placeholder -> "enter password here")
            @b3.text(signUpForm("name"), '_label -> "Enter Your Name", 'placeholder -> "abc@domain.com") <br/>

            @b3.text(signUpForm("designation"), '_label -> "designation", 'placeholder -> "enter your designation") <br/>
            <p style="text-align:center;color:red!important;">@flash.get("ERROR")</p></br>
            @b3.submit('class -> "btn btn-primary btn-lg btn-block") {sign in}

            }

        </div>

    </form>
</div>

</body>
</html>

}