@(webJarAssets: WebJarAssets)

<html>
    <body>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Select Record-Type
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li id = "user"><a href="#">Users</a></li>
                                    <li id="session"><a href="#">Knolx-Sessions</a></li>
                                    <li class="divider"></li>
                                    <li id="commitment"><a href="#">Commitments</a></li>
                                    <li id="feedback"><a href="#">Feedbacks</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="search record">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="panel-options">

                </div>
            </div>

            <div class="panel-body" >
                <div class="container-fluid">
                    <div class="row">
                        <table id="allUsers" class="display table table-striped table-bordered table-hover table-responsive" >
                            <tr>
                                <th>Id</th>
                                <th data-defaultsort="desc">Name</th>
                                <th>Email</th>
                                <th>Designation</th>
                                <th>Category</th>
                            </tr>
                        </table>
                        <table id="allSessions" class="display table table-striped table-bordered table-hover table-responsive" >
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th data-firstsort="desc" >Date</th>
                                <th>User-Id</th>
                            </tr>
                        </table>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li ><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">

                function hideTable(){
                    $('#allSessions').hide();
                    $('#allUsers').hide();
                }

                $(document).ready(function() {
                    hideTable();
                    $('#user').click(function(){
                        hideTable();
                        $('#allUsers').show()
                        var ajaxCallBack = {
                            success : function(data) {
                                drawTable(JSON.parse(data));
                            },
                            error : function(error) {
                                alert("Error");
                            }
                        };

                        function drawTable(data) {
                            $("#allUsers").find("tr:not(:first)").remove();
                            for (var i = 0; i < data.length; i++) {
                                drawRow(data[i]);
                            }
                        }

                        function drawRow(rowData) {
                            var row = $("<tr />")
                            $("#allUsers").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
                            row.append($("<td>" + rowData.id + "</td>"));
                            row.append($("<td>" + rowData.name + "</td>"));
                            row.append($("<td>" + rowData.email + "</td>"));
                            row.append($("<td>" + rowData.designation + "</td>"));
                            row.append($("<td>" + rowData.category + "</td>"));
                        }
                        jsRoutes.controllers.UsersController.getAllUsers().ajax(ajaxCallBack);


                    });
                    $('#session').click(function(){
                        hideTable();
                        $('#allSessions').show()
                        var ajaxCallBack = {
                            success : function(data) {
                                drawTable(JSON.parse(data));
                            },
                            error : function(error) {
                                alert("Error");
                            }
                        };

                        function drawTable(data) {
                            $("#allSessions").find("tr:not(:first)").remove();
                            for (var i = 0; i < data.length; i++) {
                                drawRow(data[i]);
                            }
                        }

                        function drawRow(rowData) {
                            var row = $("<tr />")
                            $("#allSessions").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
                            row.append($("<td>" + rowData.id + "</td>"));
                            row.append($("<td>" + rowData.topic + "</td>"));
                            row.append($("<td>" + rowData.date + "</td>"));
                            row.append($("<td>" + rowData.uid + "</td>"));
                        }
                        jsRoutes.controllers.SessionsController.getAllSessions().ajax(ajaxCallBack);

                    })

                });
        </script>
    </body>
</html>